body {
    background-image: url(../images/starwarsbg.jpg);
    margin-left: 3%;
}

/* Making sure there's blank space when no character tiles are present */
.row {
    min-height: 210px;
}
.header {
    text-align: center;
}
/* Heading Styles */
h1 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    /* margin-bottom: 20px; */
}
h2 {
    font-size: 35px;
    font-weight: bolder;
}
h3 {
    font-size: 25px;
    font-weight: bold;
}
/* Button Style */
.button {
    font-size: 20px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: 1px black solid;
    border-radius: 5px;
    margin: 5px;
}
.reset-button {
    background: red;
    border: red;
}
/* Making sure images dont live outside their div */
img {
    width: 100%;
    height: auto;
}
/* Default character tile styling */
.char {
    background: #ddd;
    width:225px;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box; 
}
/* Character style before player choice */
.choice {
    border: 2px yellow solid;
}
/* Character style for Players character */
.playerChoice {
    border: 2px green solid;
}
/* Character style for enemies available row */
.enemy {
    background-color: #333;
    color: white;
    border: 2px red solid;
}
/* Character Style for Defender */
.defender {
    background-color: red;
    border: 2px red solid;
}

.hidden {
    display: none;
}

.battle-text {
    margin-bottom: 5px;
    color: white;
    font-size: 22px;
}